/* Hide Unwanted Elements */
#pane-side + div[role="button"],
._al_c {
  display: none;
}

/* Full Screen Width */
.app-wrapper-web ._aigs {
  top: 0;
  width: 100%;
  max-width: 100%;
  height: 100%;
}

/* Blur Chat Panel */
#side div[aria-label="Chat list"] > div {
  transition: 0.2s ease !important;
  filter: blur(5px) !important;
}
#side div[aria-label="Chat list"] > div:hover {
  filter: blur(0px) !important;
}

/* Blur Chat Header */
#main > header {
  filter: blur(5px) !important;
}
#main > header:hover {
  filter: blur(0px) !important;
}

/* Blur sender's number in group chats */
.os-mac ._ahx_ {
  filter: blur(5px) !important;
}
.os-mac ._ahx_:hover {
  filter: blur(0px) !important;
}
